<div class="row">

  <div class="col-md-24">
    <div class="row">
      <div class="col-md-24 nopadding">
        <nav class="navbar navbar-inverse">
          <div class="navbar-global theme-default">
            <div class="container-fluid">
              <ul class="nav navbar-nav">
                <li><a [routerLink]="" #addRowItem (click)="addRow()"><span class="glyph glyph-expand"></span> Hinzufügen</a>
                </li>
                <li><a [routerLink]="" #removeRowItem (click)="removeRow()"><span class="glyph glyph-delete"></span> Löschen</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <div class="row">

      <div class="col-md-14">

        <div class="row">
          <div class="col-md-12">
            <h2>Leimbinderdaten</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-20">
            <ol class="list-items">
              <li class="list-items-row">
                <div class="row text-t9">
                  <div class="col-md-3">Stück</div>
                  <div class="col-md-3">Höhe</div>
                  <div class="col-md-3">Länge</div>
                  <div class="col-md-4">Lamellen</div>
                  <div class="col-md-3">Fläche</div>
                  <div class="col-md-4">Fläche ges.</div>
                  <div class="col-md-4">Vol MQ</div>
                </div>
              </li>
              <li class="list-items-row list-items-hover" *ngFor="let row of glulamModel.gluelamDetail">
                <div (click)="collapse.show()">
                  <div class="row">
                    <div class="col-md-3">
                      {{row.amount}}
                    </div>
                    <div class="col-md-3">
                      {{row.height}}
                    </div>
                    <div class="col-md-3">
                      {{row.length}}
                    </div>
                    <div class="col-md-4">
                      {{row.lamella}}
                    </div>
                    <div class="col-md-3">
                      {{row.square | number:'1.2-2'}}
                    </div>
                    <div class="col-md-4">
                      {{row.squareTotal | number:'1.2-2'}}
                    </div>
                    <div class="col-md-4">
                      {{row.volume | number:'1.4-4'}}
                    </div>
                  </div>
                </div>

                <div #collapse="bs-collapse" [collapse]="false" class="card card-block card-header">
                  <div class="well well-lg">
                      <div class="form-group">
                        <label for="amount">Stück</label>
                        <input type="tel" class="form-control" id="amount" placeholder="8" maxlength="2"
                               [(ngModel)]="row.amount">
                      </div>
                      <div class="form-group">
                        <label for="height">Höhe</label>
                        <input type="tel" class="form-control" id="height" placeholder="8.5" maxlength="2"
                               [(ngModel)]="row.height">
                      </div>
                      <div class="form-group">
                        <label for="length">Länge</label>
                        <input type="tel" class="form-control" id="length" placeholder="8.5" maxlength="2"
                               [(ngModel)]="row.length">
                      </div>
                      <div class="form-group">
                        <button class="btn btn-primary" (click)="collapse.hide(); calculateRow(row)">Ok</button>
                      </div>
                  </div>
                </div>

              </li>
            </ol>
          </div>
        </div>

        <!--<div class="row text-right">
          <div class="col-md-20">
            <button (click)="addRow()" class="btn btn-default"><span class="glyph glyph-add"></span></button>
          </div>
        </div>-->

        <!-- [forwardDisabled]="true"-->
        <app-order-nav-buttons [back]="'../details'" [forward]="'../summary'"></app-order-nav-buttons>

      </div>

      <div class="col-md-10">
        <app-order-result></app-order-result>
      </div>

    </div>
  </div>
</div>
