<div class="row">

  <div class="col-md-24">
    <div class="row">
      <div class="col-md-24 nopadding">
        <nav class="navbar navbar-inverse">
          <div class="navbar-global theme-default">
            <div class="container-fluid">
              <ul class="nav navbar-nav">
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-md-14">

        <div class="row">
          <div class="col-md-12">
            <h2>Leim/Härter</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="glue">Leimsorte</label>
              <div class="combobox">
                <select class="form-control" id="glue" [(ngModel)]="glulamModel.glueData.glueTypeId">
                  <option *ngFor="let item of glueShipments" [ngValue]="item.id"
                          [selected]="glueShipments[0].id">{{item.name}} ({{item.date}})
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="hardenertype">Härtersorte</label>
              <div class="combobox">
                <select class="form-control" id="hardenertype" [(ngModel)]="glulamModel.glueData.hardenerTypeId">
                  <option *ngFor="let item of hardenerShipments" [ngValue]="item.id"
                          [selected]="hardenerShipments[0].id">{{item.name}} ({{item.date}})
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <app-order-nav-buttons [forward]="'../details'" [back]="'../pressdata'"></app-order-nav-buttons>

      </div>

      <div class="col-md-10">
        <app-order-result></app-order-result>
      </div>

    </div>
  </div>
</div>
