<nav class="navbar navbar-inverse">

  <div class="navbar-local color-accent theme-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <i class="icon-hamburger"></i>
        </button>
        <a class="navbar-brand" routerLink="/app">LProd</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">

          <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>

          <li><a href="#">Link</a></li>-->

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Produktion <i class="icon-flipviewdown"></i></a>
            <ul class="dropdown-menu">
              <li><a [routerLink]="'/app/gluelam'">Leimbinder</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lieferungen <i class="icon-flipviewdown"></i></a>
            <ul class="dropdown-menu">
              <li><a [routerLink]="'/app/shipments'" [queryParams]="{ type: 'glue'}">Leim</a></li>
              <li><a [routerLink]="'/app/shipments'" [queryParams]="{ type: 'hardener'}">Härter</a></li>
            </ul>
          </li>

        </ul>

      </div>
    </div>
  </div>
</nav>
