<div class="container-fluid">

  <div class="row screen-row">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-24 nopadding">
          <nav class="navbar navbar-inverse">
            <div class="navbar-global theme-default">
              <div class="container-fluid">
                <ul class="nav navbar-nav">
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-md-24">
          <app-side-nav [sideNavModel]="sideNavModel"></app-side-nav>
        </div>
      </div>
    </div>
    <div class="col-md-19">
      <div class="row">
        <nav class="navbar navbar-inverse">
          <div class="navbar-global theme-default">
            <div class="container-fluid">
              <ul class="nav navbar-nav">
                <li><a [routerLink]="'/app/bigorders/new'"><span class="glyph glyph-expand"></span> Neuer Auftrag</a>
                <li><a [routerLink]="'/app/orders/' + selectedId" [class.disabled]="!selectedId"><span class="glyph glyph-edit"></span> Bearbeiten</a>
                <!--<li><a [routerLink]="'/app/orders/123'" [class.disabled]="selectedIndex < 0"><span class="glyph glyph-copy"></span> Kopieren</a>-->
                <li><a (click)="deleteOrder()" [class.disabled]="!selectedId"><span class="glyph glyph-delete"></span>
                  Löschen</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="row">
        <div class="col-md-19">
          <h2>Leimbinder Aufträge</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-20">

          <app-alert-stack [alertStackModel]="alertStackModel"></app-alert-stack>

          <div class="row">
            <div class="col-md-24">
              <div *ngIf="loading" class="progress-ring progress-medium" style="width: 0%;">
                <div class="progress-circle"></div>
                <div class="progress-circle"></div>
                <div class="progress-circle"></div>
                <div class="progress-circle"></div>
                <div class="progress-circle"></div>
              </div>
            </div>
          </div>

          <div *ngIf="gluelamList">

            <ol class="list-items handCursor">
              <li class="list-items-row" *ngFor="let item of gluelamList.items; let i = index;" (click)="select(i)"
                  [ngClass]="selectedIndex === i ? 'selectedItem' : ''">
                <div class="row">
                  <div class="col-md-6">{{item.date | date:'fullDate'}}</div>
                  <div class="col-md-12">{{item.customer}}</div>
                  <div class="col-md-6 text-right">{{item.elementNumber}}</div>
                </div>
              </li>
            </ol>

            <!--<div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Datum</th>
                  <th>Kunde</th>
                  <th class="text-right">Bauteilnummer</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of gluelamList.items; let i = index;" (click)="select(i)"
                    [ngClass]="selectedIndex === i ? 'info' : ''">
                  <td>{{item.date | date:'fullDate'}}</td>
                  <td>{{item.customer}}</td>
                  <td class="text-right">{{item.elementNumber}}</td>
                </tr>
                </tbody>
              </table>

            </div>-->

            <div class="text-right">
              <app-paginator [count]="gluelamList.totalCount" [totalPages]="totalPages"></app-paginator>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


</div>
