<div class="container-fluid">

  <div class="row screen-row">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-24 nopadding">
          <nav class="navbar navbar-inverse">
            <div class="navbar-global theme-default">
              <div class="container-fluid">
                <ul class="nav navbar-nav">
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-md-24">
          <app-side-nav [sideNavModel]="sideNavModel"></app-side-nav>
        </div>
      </div>
    </div>

    <form [formGroup]="orderForm" novalidate *ngIf="orderEntity" autocomplete="off">

    <div class="col-md-19">
      <div class="row">
        <div class="col-md-24">

          <div class="row">
            <div class="col-md-24 nopadding">
              <nav class="navbar navbar-inverse">
                <div class="navbar-global theme-default">
                  <div class="container-fluid">
                    <ul class="nav navbar-nav">
                      <li><a [routerLink]="" (click)="save()"><span class="glyph glyph-expand"></span> Speichern</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>

          <div class="row">
            <div class="col-md-16">

              <div class="row">
                <div class="col-md-24">
                  <h5>Auftragsdaten</h5>
                </div>
              </div>

              <div class="row">
                <div class="col-md-8 form-group" [ngClass]="{'has-error has-feedback':errors.has('customer')}">
                  <label for="customer" class="control-label">Auftraggeber</label>
                  <input type="text" class="form-control" id="customer" placeholder="Auftraggeber" formControlName="customer">
                  <small *ngIf="errors.has('customer')"><span class="help-block">{{errors.get('customer')}} </span></small>
                </div>
                <div class="col-md-8 form-group" [ngClass]="{'has-error has-feedback':errors.has('elementNumber')}">
                  <label for="elementNumber" class="control-label">Bauteilnummer</label>
                  <input type="text" class="form-control" id="elementNumber" placeholder="Bauteilnr" formControlName="elementNumber">
                  <small *ngIf="errors.has('elementNumber')"><span class="help-block">{{errors.get('elementNumber')}} </span></small>
                </div>
                <div class="col-md-8 form-group" [ngClass]="{'has-error has-feedback':errors.has('date')}">
                  <label for="date" class="control-label">Datum</label>
                  <input id="date"
                         type="text"
                         class="form-control"
                         #dp="bsDatepicker"
                         placeholder="Datum"
                         [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY', containerClass: 'theme-dark-blue' }"
                         bsDatepicker
                         formControlName="date">
                  <small *ngIf="errors.has('date')"><span class="help-block">{{errors.get('date')}} </span></small>
                </div>
              </div>

              <div class="row">
                <div class="col-md-24">
                  <h5>Pressdaten</h5>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 form-group" [ngClass]="{'has-error has-feedback':errors.has('laminationStrength')}">
                  <label for="laminationStrength" class="control-label">Lammellenstärke [mm]</label>
                  <input type="text" class="form-control" id="laminationStrength" placeholder="" formControlName="laminationStrength" appDecimal digitsInfo="1.2-2">
                  <small *ngIf="errors.has('laminationStrength')"><span class="help-block">{{errors.get('laminationStrength')}} </span></small>
                </div>
                <div class="col-md-6 form-group">
                  <label for="lam">Qualität</label>
                  <div class="combobox">
                    <select class="form-control" id="lam" [formControlName]="'quality'">
                      <option *ngFor="let item of gluelamTypes.quality" [ngValue]="item.id" [selected]="0">{{item.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 form-group">
                  <label for="press">Presse</label>
                  <div class="combobox">
                    <select class="form-control" id="press" [formControlName]="'press'">
                      <option *ngFor="let item of gluelamTypes.pressTypes" [ngValue]="item.id" [selected]="0">{{item.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 form-group">
                  <label for="wood">Holzart</label>
                  <div class="combobox">
                    <select class="form-control" id="wood" [formControlName]="'woodType'">
                      <option *ngFor="let item of gluelamTypes.woodTypes" [ngValue]="item.id" [selected]="0">{{item.name}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-24">
                  <h5>Leim/Härter</h5>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="glue">Leimsorte</label>
                  <div class="combobox">
                    <select class="form-control" id="glue" [formControlName]="'glueTypeId'">
                      <option *ngFor="let item of gluelamTypes.glueTypes" [ngValue]="item.id" [selected]="0">{{item.name}}</option>
                    </select>
                  </div>
                </div>
                  <div class="col-md-12 form-group">
                    <label for="hardenertype">Härtersorte</label>
                    <div class="combobox">
                      <select class="form-control" id="hardenertype" [formControlName]="'hardenerTypeId'">
                        <option *ngFor="let item of gluelamTypes.hardenerTypes" [ngValue]="item.id" [selected]="0">{{item.name}}</option>
                      </select>
                    </div>
                  </div>
              </div>

              <div class="row">
                <div class="col-md-24">
                  <h5>Leimbinderdaten</h5>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 form-group">
                  <label for="width">Breite [cm]</label>
                  <div class="combobox">
                    <select class="form-control" id="width" [formControlName]="'width'">
                      <option *ngFor="let item of gluelamTypes.spreads" [ngValue]="item">{{item | number:'1.2-2':'en-US'}}</option>
                    </select>
                  </div>
                </div>

                <!-- Zusatzlänge -->
                <div class="col-md-6 form-group" [ngClass]="{'has-error has-feedback':errors.has('additionalLength')}">
                  <label for="additionalLength" class="control-label">Zusatzlänge [mm]</label>
                  <input type="text" class="form-control" id="additionalLength" formControlName="additionalLength" appDecimal>
                  <small *ngIf="errors.has('additionalLength')"><span class="help-block">{{errors.get('additionalLength')}} </span></small>
                </div>

                <!-- Leimmenge -->
                <div class="col-md-6 form-group" [ngClass]="{'has-error has-feedback':errors.has('glueAmount')}">
                  <label for="glueAmount" class="control-label">Leimmenge [g]</label>
                  <input type="text" class="form-control" id="glueAmount" formControlName="glueAmount" appDecimal>
                  <small *ngIf="errors.has('glueAmount')"><span class="help-block">{{errors.get('glueAmount')}} </span></small>
                </div>

                <!-- Härter Prozent -->
                <div class="col-md-6 form-group" [ngClass]="{'has-error has-feedback':errors.has('hardenerPercentage')}">
                  <label for="hardenerPercentage" class="control-label">Härter [%]</label>
                  <input type="text" class="form-control" id="hardenerPercentage" formControlName="hardenerPercentage" appDecimal>
                  <small *ngIf="errors.has('hardenerPercentage')"><span class="help-block">{{errors.get('hardenerPercentage')}} </span></small>
                </div>
              </div>

              <ol class="list-items">
                <li class="list-items-row">
                  <div class="row text-t9">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">Stück</div>
                    <div class="col-md-3">Höhe [cm]</div>
                    <div class="col-md-3">Länge [m]</div>
                    <div class="col-md-3">Lamellen</div>
                    <div class="col-md-3">Fläche [m²]</div>
                    <div class="col-md-3">Fläche ges. [m²]</div>
                    <div class="col-md-3">Vol MQ [m³]</div>
                  </div>
                </li>
                <li class="list-items-row list-items-hover" formArrayName="details">
                  <div class="row" [formGroupName]="i" *ngFor="let detail of details.controls; let i=index">
                    <div class="col-md-3">
                      <strong>{{i + 1}}</strong>
                    </div>
                    <div class="col-md-3" [ngClass]="{'has-error has-feedback':errors.has('detailsAmount_' + i)}">
                      <input type="text" class="form-control" [id]="'detailsAmount_' + i" [formControlName]="'detailsAmount'">
                      <small *ngIf="errors.has('detailsAmount_' + i)"><span class="help-block">{{errors.get('detailsAmount_' + i)}} </span></small>
                    </div>
                    <div class="col-md-3" [ngClass]="{'has-error has-feedback':errors.has('detailsHeight_' + i)}">
                      <input type="text" class="form-control" [id]="'detailsHeight_' + i" [formControlName]="'detailsHeight'" appDecimal digitsInfo="1.1-1">
                      <small *ngIf="errors.has('detailsHeight_' + i)"><span class="help-block">{{errors.get('detailsHeight_' + i)}} </span></small>
                    </div>
                    <div class="col-md-3" [ngClass]="{'has-error has-feedback':errors.has('detailsLength_' + i)}">
                      <input type="text" class="form-control" [id]="'detailsLength_' + i" [formControlName]="'detailsLength'" appDecimal digitsInfo="1.2-2">
                      <small *ngIf="errors.has('detailsLength_' + i)"><span class="help-block">{{errors.get('detailsLength_' + i)}} </span></small>
                    </div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" [id]="'detailslamella_' + i" [formControlName]="'detailsLamella'">
                    </div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" [id]="'detailsquare_' + i" [formControlName]="'detailsSquare'" appDecimal digitsInfo="1.2-2">
                    </div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" [id]="'detailquareTotal_' + i" [formControlName]="'detailsSquareTotal'" appDecimal digitsInfo="1.2-2">
                    </div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" [id]="'detailsvolume_' + i" [formControlName]="'detailsVolume'" appDecimal digitsInfo="1.4-4">
                    </div>
                  </div>
                </li>
              </ol>
            </div>

            <div class="col-md-8 result-col">

              <div class="row">
                <div class="col-md-24">
                  <h5>Ergebnis</h5>
                </div>
              </div>

              <div class="row">
                <div class="col-md-24">
                  <small><label for="remaininglamella">Restlammellen [Stück]</label></small>
                  <input type="text" class="form-control" id="remaininglamella" disabled [value]="orderEntity.result.lamination">
                </div>
              </div>

              <div class="row">
                <div class="col-md-24">
                  <small><label for="maxlen">Maximale Presslänge [m]</label></small>
                  <input type="text" class="form-control" id="maxlen" disabled>
                </div>
              </div>

              <div class="row">
                <div class="col-md-24">
                  <small><label for="klength">Keilzinklänge [m]</label></small>
                  <input type="text" class="form-control" id="klength" disabled [value]="orderEntity.result.cotterlength" appDecimal digitsInfo="1.2-2">
                </div>
              </div>

              <div class="row">
                <div class="col-md-24">
                  <small><label for="boards">Bretter +% [Stück]</label></small>
                  <input type="text" class="form-control" id="boards" disabled>
                </div>
              </div>

              <div class="row">
                <div class="col-md-24">
                  <small><label for="production">Produktion [MQ]</label></small>
                  <input type="text" class="form-control" id="production" disabled>
                </div>
              </div>

              <div class="row">
                <div class="col-md-24">
                  <small><label for="resglue">Leim [kg]</label></small>
                  <input type="text" class="form-control" id="resglue" disabled>
                </div>
              </div>

              <div class="row">
                <div class="col-md-24">
                  <small><label for="reshardener">Härter [kg]</label></small>
                  <input type="text" class="form-control" id="reshardener" disabled>
                </div>
              </div>

              <div class="row">
                <div class="col-md-24">
                  <small><label for="presspressure">Pressdruck [N/mm²]</label></small>
                  <input type="text" class="form-control" id="presspressure" disabled>
                </div>
              </div>

              <div class="row">
                <div class="col-md-24">
                  <small><label for="quality">Leimbinder Qualität</label></small>
                  <input type="text" class="form-control" id="quality" disabled>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>

    </form>

  </div>
</div>
