<div class="container-fluid">

  <div class="row screen-row">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-24 nopadding">
          <nav class="navbar navbar-inverse">
            <div class="navbar-global theme-default">
              <div class="container-fluid">
                <ul class="nav navbar-nav">
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-md-24">
          <app-side-nav [sideNavModel]="sideNavModel"></app-side-nav>
        </div>
      </div>
    </div>

    <form [formGroup]="orderForm" novalidate>

    <div class="col-md-19">
      <div class="row">
        <div class="col-md-24">

          <div class="row">
            <div class="col-md-24 nopadding">
              <nav class="navbar navbar-inverse">
                <div class="navbar-global theme-default">
                  <div class="container-fluid">
                    <ul class="nav navbar-nav">
                      <li><a [routerLink]="" (click)="save()"><span class="glyph glyph-expand"></span> Speichern</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>

          <div class="row">
            <div class="col-md-16">

              <div class="row">
                <div class="col-md-24">
                  <h5>Auftragsdaten</h5>
                </div>
              </div>

              <div class="row">
                <div class="col-md-8">
                  <small><label for="customer">Auftraggeber</label></small>
                  <input type="text" class="form-control" id="customer" placeholder="Auftraggeber" formControlName="customer">
                </div>
                <div class="col-md-8">
                  <small><label for="customer">Bauteilnummer</label></small>
                  <input type="text" class="form-control" id="elementNumber" placeholder="Bauteilnr" formControlName="elementNumber">
                </div>
                <div class="col-md-8">
                  <small><label for="pressdate">Datum</label></small>
                  <input id="pressdate"
                         type="text"
                         class="form-control"
                         #dp="bsDatepicker"
                         placeholder="Datum"
                         [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY', containerClass: 'theme-dark-blue' }"
                         bsDatepicker
                         formControlName="date">
                </div>
              </div>

              <div class="row">
                <div class="col-md-24">
                  <h5>Pressdaten</h5>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <small><label for="laminationStrength">Lammellenstärke</label></small>
                  <input type="text" class="form-control" id="laminationStrength" placeholder="" formControlName="laminationStrength">
                </div>
                <div class="col-md-6">
                  <small><label for="lam">Qualität</label></small>
                  <div class="combobox">
                    <select class="form-control" id="lam" formControlName="quality">
                      <option *ngFor="let item of gluelamTypes.quality" [ngValue]="item.id" [selected]="0">{{item.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <small><label for="press">Presse</label></small>
                  <div class="combobox">
                    <select class="form-control" id="press" formControlName="press">
                      <option *ngFor="let item of gluelamTypes.pressTypes" [ngValue]="item.id" [selected]="0">{{item.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <small><label for="wood">Holzart</label></small>
                  <div class="combobox">
                    <select class="form-control" id="wood" formControlName="woodType">
                      <option *ngFor="let item of gluelamTypes.woodTypes" [ngValue]="item.id" [selected]="0">{{item.name}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-24">
                  <h5>Leim/Härter</h5>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <small><label for="glue">Leimsorte</label></small>
                  <div class="combobox">
                    <select class="form-control" id="glue" formControlName="glueTypeId">
                      <option *ngFor="let item of gluelamTypes.glueTypes" [ngValue]="item.id" [selected]="0">{{item.name}}</option>
                    </select>
                  </div>
                </div>
                  <div class="col-md-12">
                    <small><label for="hardenertype">Härtersorte</label></small>
                    <div class="combobox">
                      <select class="form-control" id="hardenertype" formControlName="hardenerTypeId">
                        <option *ngFor="let item of gluelamTypes.hardenerTypes" [ngValue]="item.id" [selected]="0">{{item.name}}</option>
                      </select>
                    </div>
                  </div>
              </div>

              <div class="row">
                <div class="col-md-24">
                  <h5>Leimbinderdaten</h5>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <small><label for="width">Breite</label></small>
                  <input type="text" class="form-control" id="width" formControlName="width">
                </div>
                <div class="col-md-6">
                  <small><label for="addlength">Zusatzlänge</label></small>
                  <input type="text" class="form-control" id="addlength" formControlName="additionalLength">
                </div>
                <div class="col-md-6">
                  <small><label for="glueamount">Leimmenge</label></small>
                  <input type="text" class="form-control" id="glueamount" formControlName="glueAmount">
                </div>
                <div class="col-md-6">
                  <small><label for="hardener">Härter in %</label></small>
                  <input type="text" class="form-control" id="hardener" formControlName="hardenerPercentage">
                </div>
              </div>

              <ol class="list-items">
                <li class="list-items-row">
                  <div class="row text-t9">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">Stück</div>
                    <div class="col-md-3">Höhe</div>
                    <div class="col-md-3">Länge</div>
                    <div class="col-md-3">Lamellen</div>
                    <div class="col-md-3">Fläche</div>
                    <div class="col-md-3">Fläche ges.</div>
                    <div class="col-md-3">Vol MQ</div>
                  </div>
                </li>
                <li class="list-items-row list-items-hover" formArrayName="details">
                  <div class="row" [formGroupName]="i" *ngFor="let detail of details.controls; let i=index">
                    <div class="col-md-3">
                      <strong>{{i + 1}}</strong>
                    </div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" [id]="'detailsamount_' + i" [formControlName]="'detailsAmount'">
                    </div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" [id]="'detailsheight_' + i" [formControlName]="'detailsHeight'">
                    </div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" [id]="'detailslength_' + i" [formControlName]="'detailsLength'">
                    </div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" [id]="'detailslamella_' + i" [formControlName]="'detailsLamella'">
                    </div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" [id]="'detailsquare_' + i" [formControlName]="'detailsSquare'">
                    </div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" [id]="'detailquareTotal_' + i" [formControlName]="'detailsSquareTotal'">
                    </div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" [id]="'detailsvolume_' + i" [formControlName]="'detailsVolume'">
                    </div>
                  </div>
                </li>
              </ol>
            </div>

            <div class="col-md-8 result-col">

              <div class="row">
                <div class="col-md-24">
                  <h5>Ergebnis</h5>
                </div>
              </div>

              <div class="row">
                <div class="col-md-24">
                  <small><label for="remaininglamella">Restlammellen [Stück]</label></small>
                  <input type="text" class="form-control" id="remaininglamella" disabled>
                </div>
              </div>

              <div class="row">
                <div class="col-md-24">
                  <small><label for="maxlen">Maximale Presslänge [m]</label></small>
                  <input type="text" class="form-control" id="maxlen" disabled>
                </div>
              </div>

              <div class="row">
                <div class="col-md-24">
                  <small><label for="klength">Keilzinklänge [m]</label></small>
                  <input type="text" class="form-control" id="klength" disabled>
                </div>
              </div>

              <div class="row">
                <div class="col-md-24">
                  <small><label for="boards">Bretter +% [Stück]</label></small>
                  <input type="text" class="form-control" id="boards" disabled>
                </div>
              </div>

              <div class="row">
                <div class="col-md-24">
                  <small><label for="production">Produktion [MQ]</label></small>
                  <input type="text" class="form-control" id="production" disabled>
                </div>
              </div>

              <div class="row">
                <div class="col-md-24">
                  <small><label for="resglue">Leim [kg]</label></small>
                  <input type="text" class="form-control" id="resglue" disabled>
                </div>
              </div>

              <div class="row">
                <div class="col-md-24">
                  <small><label for="reshardener">Härter [kg]</label></small>
                  <input type="text" class="form-control" id="reshardener" disabled>
                </div>
              </div>

              <div class="row">
                <div class="col-md-24">
                  <small><label for="presspressure">Pressdruck [N/mm²]</label></small>
                  <input type="text" class="form-control" id="presspressure" disabled>
                </div>
              </div>

              <div class="row">
                <div class="col-md-24">
                  <small><label for="quality">Leimbinder Qualität</label></small>
                  <input type="text" class="form-control" id="quality" disabled>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>

    </form>

  </div>
</div>
