input.form-control, textarea.form-control {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
  min-width: 0;
}

select.form-control {
  max-width: 100%;
}

.light-bg {
  background-color: rgba(0,120,215, 0.2);
}

.result-col {
  padding-left: 50px;
  padding-right: 50px;
}

input.form-control:disabled, input.form-control[disabled], textarea.form-control:disabled, textarea.form-control[disabled] {
  transition: none;
  color: #000000;
  background-color: rgba(230, 230, 230, 0.8);
  border-color: rgba(0, 0, 0, 0.6);
  cursor: default;
}
