<div class="container-fluid">

  <div class="row screen-row">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-24 nopadding">
          <nav class="navbar navbar-inverse">
            <div class="navbar-global theme-default">
              <div class="container-fluid">
                <ul class="nav navbar-nav">
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-md-24">
          <app-side-nav [sideNavModel]="sideNavModel"></app-side-nav>
        </div>
      </div>
    </div>
    <div class="col-md-19">
      <div class="row">
        <div class="col-md-24">

          <div class="row">
            <div class="col-md-24 nopadding">
              <nav class="navbar navbar-inverse">
                <div class="navbar-global theme-default">
                  <div class="container-fluid">
                    <ul class="nav navbar-nav">
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>

          <div class="row">
            <div class="col-md-16">

              <div class="row">
                <div class="col-md-24">
                  <h4>Auftragsdaten</h4>
                </div>
              </div>

              <div class="row">
                <div class="col-md-8">
                  <small><label for="customer">Auftraggeber</label></small>
                  <input type="text" class="form-control" id="customer" placeholder="Auftraggeber" required minlength="4" maxlength="50">
                </div>
                <div class="col-md-8">
                  <small><label for="customer">Bauteilnummer</label></small>
                  <input type="text" class="form-control" id="elementNumber" placeholder="Bauteilnr" required minlength="2" maxlength="50">
                </div>
                <div class="col-md-8">
                  <small><label for="pressdate">Datum</label></small>
                  <input id="pressdate"
                         type="text"
                         class="form-control"
                         #dp="bsDatepicker"
                         placeholder="Datum"
                         [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY', containerClass: 'theme-dark-blue' }"
                         bsDatepicker>
                </div>
              </div>

              <div class="row">
                <div class="col-md-24">
                  <h4>Pressdaten</h4>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <small><label for="laminationStrength">Lammellenstärke</label></small>
                  <input type="text" class="form-control" id="laminationStrength" placeholder="">
                </div>
                <div class="col-md-6">
                  <small><label for="lam">Qualität</label></small>
                  <div class="combobox">
                    <select class="form-control" id="lam">
                      <option selected>Qal1</option>
                      <option>Qal2</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <small><label for="press">Presse</label></small>
                  <div class="combobox">
                    <select class="form-control" id="press">
                      <option selected>16m</option>
                      <option selected>24m</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <small><label for="wood">Holzart</label></small>
                  <div class="combobox">
                    <select class="form-control" id="wood">
                      <option selected>Lärche</option>
                      <option>Fichte</option>
                      <option>Kiefer</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-24">
                  <h4>Leim/Härter</h4>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <small><label for="glue">Leimsorte</label></small>
                  <div class="combobox">
                    <select class="form-control" id="glue" >
                      <option selected>Leim 1</option>
                      <option>Leim 2</option>
                      <option>Leim 3</option>
                      <option>Leim 4</option>
                      <option>Leim 5</option>
                      <option>Leim 6</option>
                    </select>
                  </div>
                </div>
                  <div class="col-md-12">
                    <small><label for="hardenertype">Härtersorte</label></small>
                    <div class="combobox">
                      <select class="form-control" id="hardenertype">
                        <option>Härter 1</option>
                        <option>Härter 2</option>
                        <option>Härter 3</option>
                        <option>Härter 4</option>
                        <option>Härter 5</option>
                        <option>Härter 6</option>
                      </select>
                    </div>
                  </div>
              </div>

              <div class="row">
                <div class="col-md-24">
                  <h4>Leimbinderdaten</h4>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <small><label for="width">Breite</label></small>
                  <input type="number" class="form-control" id="width" step="0.5" min="0" max="20">
                </div>
                <div class="col-md-6">
                  <small><label for="addlength">Zusatzlänge</label></small>
                  <input type="text" class="form-control" id="addlength">
                </div>
                <div class="col-md-6">
                  <small><label for="glueamount">Leimmenge</label></small>
                  <input type="text" class="form-control" id="glueamount">
                </div>
                <div class="col-md-6">
                  <small><label for="hardener">Härter in %</label></small>
                  <input type="text" class="form-control" id="hardener">
                </div>
              </div>

              <ol class="list-items">
                <li class="list-items-row">
                  <div class="row text-t9">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">Stück</div>
                    <div class="col-md-3">Höhe</div>
                    <div class="col-md-3">Länge</div>
                    <div class="col-md-3">Lamellen</div>
                    <div class="col-md-3">Fläche</div>
                    <div class="col-md-3">Fläche ges.</div>
                    <div class="col-md-3">Vol MQ</div>
                  </div>
                </li>
                <li class="list-items-row list-items-hover">
                  <div class="row">
                    <div class="col-md-3">
                      <strong>1</strong>
                    </div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" id="detailsamount">
                    </div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" id="detailsheight">
                    </div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" id="detailslength">
                    </div>
                    <div class="col-md-3">
                      <input disabled type="text" class="form-control" id="detailslamella">
                    </div>
                    <div class="col-md-3">
                      <input disabled type="text" class="form-control" id="detailsquare">
                    </div>
                    <div class="col-md-3">
                      <input disabled type="text" class="form-control" id="detailquareTotal">
                    </div>
                    <div class="col-md-3">
                      <input disabled type="text" class="form-control" id="detailsvolume">
                    </div>
                  </div>
                </li>
              </ol>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
