<div class="row">
  <div class="col-md-12">
    <h2>Pressdaten</h2>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <div class="col-md-12">
      <label for="pressdate">Datum</label>
      <input id="pressdate"
             type="text"
             class="form-control"
             [minDate]="minDate"
             [maxDate]="maxDate"
             #dp="bsDatepicker"
             bsDatepicker [(bsValue)]="glulamModel.pressData.date">
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <div class="col-md-12">
      <label for="customer">Auftraggeber</label>
      <input type="text" class="form-control" id="customer" placeholder="Lager"
             [(ngModel)]="glulamModel.pressData.customer">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="lam">Decklamellen</label>
      <div class="combobox">
        <select class="form-control" id="lam" [(ngModel)]="glulamModel.pressData.coverLamination">
          <option *ngFor="let item of glulamModel.coverLaminations" [ngValue]="item.id"
                  [selected]="glulamModel.pressData.coverLamination">{{item.name}}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="press">Presse</label>
      <div class="combobox">
        <select class="form-control" id="press" [(ngModel)]="glulamModel.pressData.press">
          <option *ngFor="let item of glulamModel.pressTypes" [ngValue]="item.id"
                  [selected]="glulamModel.pressData.press">{{item.name}}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <div class="form-group">
        <label for="wood">Holzart</label>
        <div class="combobox">
          <select class="form-control" id="wood" [(ngModel)]="glulamModel.pressData.woodType">
            <option *ngFor="let item of glulamModel.woodTypes" [ngValue]="item.id"
                    [selected]="glulamModel.pressData.woodType">{{item.name}}
            </option>
          </select>
        </div>
      </div>
  </div>
</div>

<app-order-nav-buttons [forward]="'../glue'" [backDisabled]="true"></app-order-nav-buttons>
