<div class="row">

  <div class="col-md-24">
    <div class="row">
      <div class="col-md-24 nopadding">
        <nav class="navbar navbar-inverse">
          <div class="navbar-global theme-default">
            <div class="container-fluid">
              <ul class="nav navbar-nav">
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-md-14">

        <div class="row">
          <div class="col-md-12">
            <h2>Pressdaten</h2>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-md-12">
              <label for="pressdate">Datum</label>
              <input id="pressdate"
                     type="text"
                     class="form-control"
                     #dp="bsDatepicker"
                     [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY', containerClass: 'theme-dark-blue' }"
                     bsDatepicker
                     [(bsValue)]="glulamModel.pressData.date">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-md-12">
              <label for="customer">Auftraggeber</label>
              <input type="text" class="form-control" id="customer" placeholder="Lager"
                     [(ngModel)]="glulamModel.pressData.customer">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-md-12">
              <label for="customer">Bauteilnummer</label>
              <input type="text" class="form-control" id="elementNumber" placeholder=""
                     [(ngModel)]="glulamModel.pressData.elementNumber">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-md-12">
              <label for="customer">Lammellenstärke gehobelt</label>
              <input type="text" class="form-control" id="laminationStrength" placeholder=""
                     [(ngModel)]="glulamModel.pressData.laminationStrength" (blur)="calculate()">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="lam">Qualität</label>
              <div class="combobox">
                <select class="form-control" id="lam" [(ngModel)]="glulamModel.pressData.coverLamination">
                  <option *ngFor="let item of gluelamTypes.quality" [ngValue]="item.id"
                          [selected]="glulamModel.pressData.coverLamination">{{item.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="press">Presse</label>
              <div class="combobox">
                <select class="form-control" id="press" [(ngModel)]="glulamModel.pressData.press">
                  <option *ngFor="let item of gluelamTypes.pressTypes" [ngValue]="item.id"
                          [selected]="glulamModel.pressData.press">{{item.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="wood">Holzart</label>
              <div class="combobox">
                <select class="form-control" id="wood" [(ngModel)]="glulamModel.pressData.woodType">
                  <option *ngFor="let item of gluelamTypes.woodTypes" [ngValue]="item.id"
                          [selected]="glulamModel.pressData.woodType">{{item.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <app-order-nav-buttons [forward]="'../glue'" [backDisabled]="true"></app-order-nav-buttons>

      </div>

      <div class="col-md-10">
        <app-order-result></app-order-result>
      </div>

    </div>
  </div>
</div>
