<div class="container-fluid">

  <div class="row">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-24 nopadding">
          <nav class="navbar navbar-inverse">
            <div class="navbar-global theme-default">
              <div class="container-fluid">
                <ul class="nav navbar-nav">
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-md-24">
          <app-side-nav [sideNavModel]="sideNavModel"></app-side-nav>
        </div>
      </div>
    </div>
    <div class="col-md-19">
      <div class="row">
        <nav class="navbar navbar-inverse">
          <div class="navbar-global theme-default">
            <div class="container-fluid">
              <ul class="nav navbar-nav">
                <li><a [routerLink]="'/orders/new'" #newItem><span class="glyph glyph-expand"></span> Neuer Auftrag</a>
                <li><a [routerLink]="'/orders/' + selectedId" #newItem><span class="glyph glyph-edit"></span> Bearbeiten</a>
                <li><a [routerLink]="'/orders/123'" #newItem><span class="glyph glyph-copy"></span> Kopieren</a>
                <li><a [routerLink]="" #newItem (click)="deleteMessage()"><span class="glyph glyph-delete"></span>
                  Löschen</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="row">
        <div class="col-md-20">
          <h2>Leimbinder Aufträge</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-20">

          <div *ngIf="errors" class="alert alert-danger" role="alert">
            <strong>Fehler!</strong> Produktionsdaten konnten nicht geladen werden!
          </div>

          <div *ngIf="gluelamList">

            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Datum</th>
                  <th>Kunde</th>
                  <th class="text-right">Bauteilnummer</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of gluelamList.items; let i = index;" (click)="select(i)"
                    [ngClass]="selectedIndex === i ? 'info' : ''">
                  <td>{{item.date}}</td>
                  <td>{{item.customer}}</td>
                  <td class="text-right">{{item.elementNumber}}</td>
                </tr>
                </tbody>
              </table>

            </div>

            <div class="text-right">
              <app-paginator [count]="gluelamList.totalCount" [page]="page" [perPage]="pageSize" (goNext)="onNext()"
                             (goPrev)="onPrev()" (goPage)="goToPage($event)"></app-paginator>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


</div>
