<div class="container-fluid">

  <div class="row screen-row">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-24 nopadding">
          <nav class="navbar navbar-inverse">
            <div class="navbar-global theme-default">
              <div class="container-fluid">
                <ul class="nav navbar-nav">
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-md-24">
          <app-side-nav [sideNavModel]="sideNavModel"></app-side-nav>
        </div>
      </div>
    </div>
    <div class="col-md-19">
      <div class="row">
        <nav class="navbar navbar-inverse">
          <div class="navbar-global theme-default">
            <div class="container-fluid">
              <ul class="nav navbar-nav">
                <li><a [routerLink]="'/app/shipments/-1'" [queryParams]="{ type: shipmentType}"><span class="glyph glyph-expand"></span> Neue Lieferung</a>
                <li><a [routerLink]="'/app/shipments/' + selectedId" [queryParams]="{ type: shipmentType}"><span class="glyph glyph-edit"></span> Bearbeiten</a>
                <li><a (click)="delete()"><span class="glyph glyph-delete"></span>
                  Löschen</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="row">
        <div class="col-md-20">
          <h2 *ngIf="shipmentType===ShipmentType.glue">Leim Lieferungen</h2>
          <h2 *ngIf="shipmentType===ShipmentType.hardener">Härter Lieferungen</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-20">

          <app-alert-stack [alertStackModel]="alertStackModel"></app-alert-stack>

          <div *ngIf="shipmentsList">

            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Lieferdatum</th>
                  <th>Sorte</th>
                  <th class="text-right">Auswählbar</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of shipmentsList.items; let i = index;" (click)="select(i)"
                    [ngClass]="selectedIndex === i ? 'info' : ''">
                  <td>{{item.date | date:'fullDate'}}</td>
                  <td>{{item.name}}</td>
                  <td class="text-right">
                    <button type="button" data-toggle="button" class="btn btn-toggle-switch" (click)="updateSelecteable($event, i)"
                            [ngClass]="item.selectable ? 'active' : ''">
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>

            </div>

            <div class="text-right">
              <app-paginator [count]="shipmentsList.totalCount" [totalPages]="totalPages"></app-paginator>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


</div>
