<div class="row">
  <div class="col-md-12">
    <h2>Leimbinderdaten</h2>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <div class="col-md-12">
      <label for="breite">Breite</label>
      <input type="email" class="form-control" id="breite" placeholder="8.5">
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <div class="col-md-12">
      <label for="addlen">Zusatzlänge</label>
      <input type="email" class="form-control" id="addlen" placeholder="10.00">
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <div class="col-md-12">
      <label for="lm">Leimmenge</label>
      <input type="email" class="form-control" id="lm" placeholder="380.00">
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <div class="col-md-12">
      <label for="harder">Härter in %</label>
      <input type="email" class="form-control" id="harder" placeholder="20.00">
    </div>
  </div>
</div>

