<div class="row">
  <div class="col-md-12">
    <h2>Leimbinderdaten</h2>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <div class="col-md-12">
      <label for="width">Breite</label>
      <input type="text" class="form-control" id="width"
             [(ngModel)]="glulamModel.gluelamData.width">
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <div class="col-md-12">
      <label for="addlength">Zusatzlänge</label>
      <input type="text" class="form-control" id="addlength"
             [(ngModel)]="glulamModel.gluelamData.additionalLenght">
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <div class="col-md-12">
      <label for="glueamount">Leimmenge</label>
      <input type="text" class="form-control" id="glueamount"
             [(ngModel)]="glulamModel.gluelamData.glueAmount">
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <div class="col-md-12">
      <label for="hardener">Härter in %</label>
      <input type="text" class="form-control" id="hardener"
             [(ngModel)]="glulamModel.gluelamData.hardenerPercentage">
    </div>
  </div>
</div>

<app-order-nav-buttons [forward]="'/detailstbl'" [back]="'/glue'"></app-order-nav-buttons>
