<a class="btn btn-lightweight no-outline navigation-btn">Leimbinder</a>
<nav role="navigation" id="sidenav" class="nav side-navigation side-navigation-large theme-default">
  <div class="navigation-label">Leimbinder</div>
  <button type="button" class="close" data-dismiss="side-navigation" aria-label="close">
    <i class="glyph glyph-cancel"></i>
  </button>
  <ul>
    <li><a href="#">Pressdaten</a></li>
    <li class="color-fill-accent-vivid-mid"><a href="#" class="active">Leim/Härter</a></li>
    <li><a href="#">Leimbinderdaten</a></li>
    <li><a href="#">Übersicht</a></li>
  </ul>
</nav>
