<a class="btn btn-lightweight no-outline navigation-btn">Leimbinder</a>
<nav role="navigation" id="sidenav" class="nav side-navigation side-navigation-large theme-default">
  <div class="navigation-label">Leimbinder</div>
  <button type="button" class="close" data-dismiss="side-navigation" aria-label="close">
    <i class="glyph glyph-cancel"></i>
  </button>
  <ul>
    <li><a routerLink="/pressdata" routerLinkActive="active">Pressdaten</a></li>
    <li class="color-fill-accent-vivid-mid"><a routerLink="/glue" routerLinkActive="active" class="active">Leim/Härter</a></li>
    <li><a routerLink="/details" routerLinkActive="active">Leimbinderdaten</a></li>
    <li><a routerLink="/detailstbl" routerLinkActive="active">Details</a></li>
    <li><a href="#">Übersicht</a></li>
  </ul>
</nav>
