<a class="btn btn-lightweight no-outline navigation-btn">Leimbinder</a>
<nav role="navigation" id="sidenav" class="nav side-navigation side-navigation-large theme-default">
  <div class="navigation-label p20">Leimbinder</div>
  <button type="button" class="close" data-dismiss="side-navigation" aria-label="close">
    <i class="glyph glyph-cancel"></i>
  </button>
  <ul>
    <a routerLink="/pressdata" routerLinkActive="active" #rla1="routerLinkActive">
      <li ngClass="{{ rla1.isActive ? 'selected' : 'empty'}}"><span class="p20">Pressdaten</span></li>
    </a>
    <a routerLink="/glue" routerLinkActive="active" #rla2="routerLinkActive">
      <li ngClass="{{ rla2.isActive ? 'selected' : 'empty'}}"><span class="p20">Leim/Härter</span></li>
    </a>
    <a routerLink="/details" routerLinkActive="active" #rla3="routerLinkActive">
      <li ngClass="{{ rla3.isActive ? 'selected' : 'empty'}}"><span class="p20">Leimbinderdaten</span></li>
    </a>
    <a routerLink="/detailstbl" routerLinkActive="active" #rla4="routerLinkActive">
      <li ngClass="{{ rla4.isActive ? 'selected' : 'empty'}}"><span class="p20">Details</span></li>
    </a>
    <a routerLink="/summary" routerLinkActive="active" #rla5="routerLinkActive">
      <li ngClass="{{ rla5.isActive ? 'selected' : 'empty'}}"><span class="p20">Übersicht</span></li>
    </a>
  </ul>
</nav>
