<div class="container-fluid">

  <div class="row">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-24 nopadding">
          <nav class="navbar navbar-inverse">
            <div class="navbar-global theme-default">
              <div class="container-fluid">
                <ul class="nav navbar-nav">
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-md-24">
          <app-side-nav [sideNavModel]="sideNavModel"></app-side-nav>
        </div>
      </div>
    </div>
    <div class="col-md-19">
      <div class="row">
        <div class="col-md-24">
          <router-outlet *ngIf="glulamModel"></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
